body {
	font-family: 'New Rocker', cursive;
	color: white;
	background-image: url("https://images.pexels.com/photos/97494/pexels-photo-97494.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
	background-repeat: no-repeat;
	background-size: cover;
}

.container {
	max-width: 350px;
	text-align: center;
	margin: 20px auto;
	display: -ms-flexbox;
	display: flex;
}

/* Song Title */
.song_title h1, .song_title h4 {
	color: Red;
}

/* Song Lyrics */
.song_lyrics .container {
	text-align: justify;
}

/*Page Footer*/
.page_footer a {
	text-decoration: none;
	color: red;
}
