body {
	font-family: 'New Rocker', cursive;
}

.container {
	max-width: 350px;
	text-align: center;
	margin: 20px auto;
}

/* Song Title */
.song_title h1, .song_title h4 {
	color: Red;
}

/* Song Lyrics */
.song_lyrics .container {
	text-align: justify;
}

/*Page Footer*/
.page_footer a {
	text-decoration: none;
}
